.field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url("./../../assets/img/field.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.card-stack {
    position: relative;
    >img {
        position: absolute;
        width: 120px;
    }
}


.played-card {
    right: 25px;
    transform: scale(1.3) translateX(120px) translateY(-200px) rotate(10deg);
}


.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.3) translateY(5px);
    }
}


.pick-card {
    animation: pick-card-animation 1.1s ease-in-out;
    transform: scale(1.3) translateX(120px) translateY(-200px) rotate(10deg);
}


@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.7);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.3) translateX(120px) translateY(-200px) rotate(10deg);
    }
}


.player-position {
    position: absolute;
    right: 0;
}