.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #083248;
    width: 100%;
    height: 100vh;
}


.start-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    >img {
        width: 1000px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 5px rgba($color: #ffffff, $alpha: 0.5);
    }
    >button {
        border-radius: 20px;
        height: 50px;
        width: 300px;
        font-family: 'Akshar';
        font-weight: 700;
        font-size: 30px;
        background-color: #e5021c;
        transition: 0.3s;
        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 10px 5px rgba($color: #ffffff, $alpha: 0.5);
            background-color: #ffffc7;
            color: #e5021c;
        }
    }
}